<ul class="nav col-md-6">
    <li class="nav-item"><a href="https://lansuite.github.io/lansuite/" class="nav-link px-2 text-muted">Build with Lansuite</a></li>
</ul>
<ul class="nav col-md-6">
    <li class="nav-item"><a class="nav-link px-2 text-muted"><i class="bi bi-activity" data-toggle="tooltip" data-bs-placement="top" title="DB-Querys: {$main_footer_countquery}"></i></a></li>
    <li class="nav-item"><a class="nav-link px-2 text-muted"><i class="bi bi-memory" data-toggle="tooltip" data-bs-placement="top" title="{$main_footer_mem_usage}"></i></a></li>
    <li class="nav-item"><a class="nav-link px-2 text-muted"><i class="bi bi-hourglass-split"  data-toggle="tooltip" data-bs-placement="top" title="Processed in {$main_footer_timer} Sec"></i></a></li>
    <li class="nav-item"><a href="ext_inc/newsfeed/news.xml" class="nav-link px-2 text-muted" ><i class="bi bi-rss-fill" data-toggle="tooltip" data-bs-placement="top" title="Latest news feed"></i></a></li>
    <li class="nav-item"><a href="index.php?mod=about&action=license" class="nav-link px-2 text-muted" ><i class="bi bi-info-circle-fill" data-toggle="tooltip" data-bs-placement="top" title="License Details"></i></a></li> 
  </ul>
<!--
<a href="index.php?{$main_footer_cleanquery}&amp;fullscreen=yes" class="menu" rel="nofollow">Fullscreen</a>
-->