<form name="form_loginbox" method="post" action="{$action}">
  <div class="mb-3">
    <input name="email" type="text" class="form-control" id="email" size="18" tabindex="1" placeholder="E-Mail" aria-label="E-Mail"/>
  </div>
  <div class="mb-3">
    <input type="password" name="password" id="password" class="form-control" size="18" tabindex="2" placeholder="Passwort" aria-label="Passwort" />
  </div>

  {if $ssl_link}</td></tr><tr><td colspan="2">
    [<a href="{$ssl_link}">SSL Login</a>]{/if}

  </td></tr><tr><td colspan="2">
    {$buttons_login}
  </td></tr></table>
</form>
 