<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Silent Knights - Multigaming since 2007</title>
    <meta name="description" content="Multigamingclan mit Sitz auf der Alb"/>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=K2D:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

<!--Header Section-->
<section class="bg-gradient pt-5 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-row align-items-center justify-content-between">
                <a class="navbar-brand" href="#">
                    <img src="./img/logo-new_small.png" width="100"  alt="">
                </a>
                <div class="heading-brand"></div>
                <div class="text-right">
                    <a href="https://discord.gg/NEbMyRx" class="btn btn-dark" target="_blank">Discord</a>
                    <a href="#wow" class="btn btn-light">WoW Gilde2</a>
                </div>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-md-8 mx-auto text-center text-white">
                <h1 class="text-white">Silent Knights</h1>
                <p class="lead mb-5">
                    Wir sind ein traditionsreicher Mutligamingclan, welcher in seiner langen Geschichte einige Erfolge im eSport erreichen konnte.
                    <br>Nun bieten wir eine entspannte Atmosphäre für verschiedene Games.
                </p> 
            </div>
        </div>
       
    </div>
</section>

<!--Features Section-->
<section class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="text-center text-md-left">Das können wir <span class="text-danger">dir</span> bieten</h2>
                <div class="row feature-grid">
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span class="text-danger" data-feather="activity" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Beständigkeit seit 2007!
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span class="text-danger" data-feather="command" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Ein entspanntes und erwachsenes Zuhause
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span class="text-danger" data-feather="users" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Gruppentreffen auf Gamescom, beim Paintball, Burger essen usw. 
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span class="text-danger" data-feather="globe" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Legendäre LAN-Partys im HQ auf der Alb
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span class="text-danger" data-feather="git-pull-request" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Viele Kontakte zu Partnercommunitys
                            </div>
                        </div>
                    </div><div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span class="text-danger" data-feather="droplet" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Schwarzer Humor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Games-->
<section class="bg-dark pb-6">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="text-center text-md-left">Games</h2>
                <p class="lead text-muted">Diese Spiele werden am meisten gespielt:</p>
                <div class="mt-5 d-flex flex-row flex-wrap press-icons">
                    <img src="./img/games/wow.svg" alt="World of Warcraft" width="200"/>
                    <img src="./img/games/csgo.svg" alt="CSGO" width="200"/>
                    <img src="./img/games/pubg.svg" alt="PUBG" width="200"/>
                    <img src="./img/games/bf.svg" alt="Battlefield" width="200"/>
                    <img src="./img/games/lol.svg" alt="League of Legends" width="200"/>
                    <img src="./img/games/cod.svg" alt="Call of Duty" width="200"/>
                </div>
            </div>
        </div>
    </div>
</section>

<!--WoW Section-->
<section id="wow" class="bg-gradient2 pt-5 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-row align-items-center justify-content-between">                
                <div class="heading-brand">
                    <h1 class="text-white">Vanilla Thunder</h1>
                </div>                
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-md-8 mx-auto text-left text-white">                
                <p class="lead mb-5">Vanilla Thunder wurde von ein paar Freunden gegründet, um die alte WOW-Nostalgie wieder erleben zu können. 
                    <br>Wir legen Wert auf ein angenehmes und hilfsbereites Umfeld für alle möglichen Spielerarten. Wir haben alle einen gesunden Humor und nehmen uns oft auf die Schippe. Die meisten sind sehr aktiv auf dem Discord und für so gut wie jeden Spaß zu haben.
                    
                    <br>Unser Raid befindet sich derzeit im Aufbau. Wir sind von Onyxia auf Blackmoore getranst und bauen langsam unseren Raidstamm, wieder auf.
                </p> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="text-center text-md-left">Das können wir <span class="text-warning">dir</span> bieten</h2>
                <div class="row feature-grid text-white">
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span class="text-warning" data-feather="activity" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Casual Raid HC und Twinkraid NHC
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span class="text-warning" data-feather="command" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Mythic+
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span class="text-warning" data-feather="clock" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                machbare Raidzeiten 
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span class="text-warning" data-feather="users" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Stammraid
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span class="text-warning" data-feather="book-open" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                erfahrene Gilden- und Raidleitung
                            </div>
                        </div>
                    </div><div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span class="text-warning" data-feather="edit" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Raidlogs für Analysen und Verbesserung
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="text-center text-md-left">Interesse geweckt?</h2>
                <p class="lead mb-5 text-white">
                Komm einfach auf unseren Discord Server und schreibe einen WoW Admin an. 
                </p>
            <a href="https://discord.gg/NEbMyRx" class="btn btn-warning" target="_blank">Discord</a>
            </div>
        </div>
    </div>
</section>

<!--footer-->
<footer class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <ul class="list-inline">                    
                    <li class="list-inline-item"><a href="/silk.html">In Erinnerung <span class="text-danger" data-feather="heart" width="28" height="28"></span>Silkworm</a></li>   
                                 
                </ul>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-4 mx-auto text-muted text-center small-xl">                
                &copy; 2021 Silent Knights - All Rights Reserved  
            </div>
        </div>
    </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
